<section class="w-full max-w-4xl mx-auto mt-8 px-4">
    <app-createpost (dataPost)="handleCreate($event)"></app-createpost>
    @if(loading()){
        <div class="flex justify-center items-center py-12">
            <div class="animate-spin rounded-full h-8 w-8 border-b-2 border-blue-600"></div>
        </div>
    }
   
    @if(!loading()){
        
        <div >
            @for (item of publications(); track item.id) {
                <app-post [dataPost]="item" (deleted)="carregarPublicacoes()"></app-post>
            } @empty {
                 <div class="text-center py-12 bg-white rounded-xl border border-gray-200 mt-4 text-gray-500">
                    Nenhuma publicação no feed. Comece a seguir utilizadores ou crie a sua própria publicação!
                </div>
            }
        </div>
    }
</section>